$font-family--main: "Karla", sans-serif;
$font-family--headings: "DM Serif Display", serif;
$font-weight--headings: 400;

html {
  box-sizing: border-box;
}
body {
  font-family: $font-family--main;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: $font-family--headings;
  font-weight: $font-weight--headings;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid $color-dark-violet;
  &:hover {
    cursor: pointer;
    background-color: $color-dark-violet;
    color: $color-white;
  }
  transition: all 0.3s;
  outline: none;
  &--reversed {
    border-color: $color-white;
    color: $color-white;
    &:hover {
      color: $color-dark-violet;
      background-color: $color-white;
    }
  }
}

.divider {
  width: 12rem;
}
