$color-dark-violet: hsl(270, 9%, 17%);
$color-dark-violet--light: hsl(256, 26%, 20%);
$color-gray--blue: hsl(216, 30%, 68%);
$color-gray: hsl(273, 4%, 51%);
$color-gray--light: hsl(0, 0%, 98%);
$color-white: #fff;
