.cta-section {
  padding: 0 3rem;

  @media only screen and (min-width: 800px) {
    padding: 0 5rem;
    margin-bottom: 10rem;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
    padding: 4rem 1.5rem;
    background-color: $color-dark-violet--light;
    overflow: hidden;

    @media only screen and (min-width: 800px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 4rem 5rem;
    }

    &::before {
      content: url("./assets/images/bg-pattern-how-we-work-mobile.svg");
      position: absolute;
      top: 0;
      right: 0;

      @media only screen and (min-width: 800px) {
        content: url("./assets/images/bg-pattern-how-we-work-desktop.svg");
      }
    }
  }

  &__heading {
    margin-bottom: 2rem;
    max-width: 20rem;
    text-align: center;
    color: $color-white;
    font-size: 2rem;
    line-height: 2rem;
    @media only screen and (min-width: 800px) {
      font-size: 3rem;
      line-height: 3rem;
      text-align: start;
      margin-bottom: 0;
    }

    @media only screen and (min-width: 1000px) {
      max-width: 30rem;
    }
  }

  &__button {
    position: relative;
    z-index: 1;
  }
}
