.header {
  &__link {
    color: white;
    word-spacing: 2px;
    letter-spacing: 2px;
    text-transform: uppercase;

    @media only screen and (min-width: 800px) {
      color: $color-dark-violet--light;
      letter-spacing: initial;

      &:hover {
        color: $color-dark-violet;
      }
    }
  }
}

/*
.hamburger-menu {
  border: 2px solid var(--color-very-dark-violet);
  padding: 8px 5px;
  background-color: white;
  cursor: pointer;
  outline: none;

  &__bar {
    display: block;
    width: 2.25rem;
    height: 2px;
    background-color: var(--color-very-dark-violet);
    transition: all 0.3s;

    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }
}

.hamburger-menu--open .hamburger-menu__bar--top {
  transform: rotate(45deg) translate(3px, 4px);
}

.hamburger-menu--open .hamburger-menu__bar--middle {
  opacity: 0;
}

.hamburger-menu--open .hamburger-menu__bar--bottom {
  transform: rotate(-45deg) translate(3px, -4px);
}

*/

.header {
  position: relative;
  z-index: 3;
  padding: 0 1.5rem;
  background-color: $color-white;

  @media only screen and (min-width: 800px) {
    padding: 0 2.5rem;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1105px;
    height: 5rem;
    margin: 0 auto;
  }

  &__logo {
    margin-right: auto;
  }

  &__hamburger-menu {
    @media only screen and (min-width: 800px) {
      display: none;
    }
  }

  &__navigation {
    position: absolute;
    z-index: 2;
    top: 10rem;
    left: -3rem;
    width: 100vw;
    height: 0;
    padding-top: 3rem;

    @media only screen and (min-width: 800px) {
      position: static;
      transform: translate(0);
      z-index: initial;
      width: initial;
      height: initial;
      padding-top: 0;
      background: white;
      //background-color: aqua;
      opacity: 1;
    }

    &--active {
      @media only screen and (max-width: 800px) {
        transform: translate(0);
        transition: all 0.3s ease-out;
        height: calc(100vh - 10rem);
        background: url("./img/bg-pattern-mobile-nav.svg") $color-dark-violet;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;

    & > * {
      opacity: 0;
    }

    @media only screen and (min-width: 800px) {
      flex-direction: row;

      & > * {
        opacity: 1;
      }
    }
  }

  &__link {
    display: inline-block;
    margin-bottom: 5rem;
    transition: all 0.2s;

    &:active {
      transform: scale(1.1);
    }

    @media only screen and (min-width: 800px) {
      margin-right: 3.5rem;
      margin-bottom: 0;

      &:active {
        transform: initial;
      }
    }
  }
}
